@model List<_20171C_TP.Models.Cartelera>
@{
    Layout = "~/Views/Administracion/_AdministracionLayout.cshtml";
}

<div class="page-header">
  <h1>Gestion de carteleras <p><small>Crea y edita las carteleras con las funciones en las que se emitiran las peliculas</small></p></h1>
</div>

<h4>@TempData["mensaje"]</h4>

<div class="form-group">
    <a href="#" class="btn btn-primary">Crear Cartelera</a>
</div>



@foreach (var i in @Model)
{
<p>@i.Pelicula.Nombre / <a href="#">Editar</a></p>


}