@{

}

<h2>Administracion</h2>

<a href="peliculas">Gestión de Películas</a>

<a href="sedes">Gestión de Carteleras</a>
<a href="carteleras">Gestión de Sedes</a>
<a href="reportes">Reporte de Reservas</a>