@{
    List<_20171C_TP.Models.Sede> ListaDeSedes = ViewBag.ListaDeSedes;
}

<h2>Lista de peliculas</h2>

<<h4>@TempData["mensaje"]</h4>

    <p><a href="./">Regresar</a></p>

<a href="SedesAgregar">Agregar Sede</a>
@foreach (var i in ListaDeSedes)
{
<p>@i.Nombre / @i.Direccion / @i.PrecioGeneral / <a href="SedesEditar/@i.IdSede">Editar</a></p>

}

