@model _20171C_TP.Models.Sede
@{
    Layout = "~/Views/Administracion/_AdministracionLayout.cshtml";
}
<h2>Sedes</h2>



<body>
    <div>
        <form action="SedesEditar" method="post">
            <fieldset>
                <div class="col-sm-6">
                    <legend>Agregar Sede</legend>
                    <input type="hidden" name="IdSede" value="@Model.IdSede" />
                    <div class="form-group">
                        <label for="name">Nombre de sede</label>
                            <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="name">Direccion</label>
                        <input type="text" class="form-control" name="Direccion" value="@Model.Direccion" />
                    </div>
                    <div class="form-group">
                        <label for="name">Precio</label>
                        <div><input type="text" class="form-control" name="PrecioGeneral" value="@Model.PrecioGeneral" /></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Modificar Sede" />
                    </div>
                    <div class="form-group">
                        <a href="../" class="btn btn-warning">Regresar</a>
                    </div>

                    </div>
            </fieldset>

        </form>
    </div>

</body>
