@model _20171C_TP.Models.Sede
<h2>Sedes</h2>



<body>
    <div>
        <form action="SedesEditar" method="post">
            <fieldset>
                <legend>Agregar Sede</legend>

                <input type="hidden" name="IdSede" value="@Model.IdSede" />

                <div>Nombre de sede</div>
                <div><input type="text" name="Nombre" value="@Model.Nombre" /></div>

                <div>Direccion</div>
                <div><input type="text" name="Direccion" value="@Model.Direccion" /></div>


                <div>Precio</div>
                <div><input type="text" name="PrecioGeneral" value="@Model.PrecioGeneral" /></div>

                <div><input type="submit" value="Editar Sede" /></div>
            </fieldset>

        </form>

            <p><a href="./">Regresar</a></p>
    </div>

</body>
