
<h2>Sedes</h2>



<body>
    <div>
        <form action="SedesAgregar" method="post">
            <fieldset>
                <legend>Agregar Sede</legend>

                <div>Nombre de sede</div>
                <div><input type="text" name="Nombre" value="" /></div>

                <div>Direccion</div>
                <div><input type="text" name="Direccion" value="" /></div>


                <div>Precio</div>
                <div><input type="text" name="PrecioGeneral" value="" /></div>

                <div><input type="submit" value="Agregar Sede" /></div>
            </fieldset>

        </form>

            <p><a href="./">Regresar</a></p>
    </div>

</body>
