    <title>CineSystem</title>
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/_AdministracionLayout.css" rel="stylesheet" />
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>